
<!--views consume the model; directives are an intermediary between controllers and views.-->

<!DOCTYPE html>
<html ng-app="gitHubViewer">
<head>
    <link href="styles/style.css" rel="stylesheet" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/script.js"></script>
</head>
<body ng-controller="MainController">
    <h1>{{ message }}</h1>
    
    <!--event directives (ng-submit, ng-click) -->
    <form name="searchUser" ng-submit="search(username)">

        <!--model directives-->
        <input type="search" required placeholder="username to find" ng-model="username"/>
        <input type="submit" value="Search" />
               <!--ng-click="search(username)"--> 
    </form>
    
    <!--display directives (ng-show, ng-include)-->
    <div ng-include="'userdetails.html'" ng-show="user"> </div>

</body>
</html>